<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>we Welcome you to the team here are your details which you shared with us  <%= @doctor.name %> !</p>
    <p>
    Order details<br>
    --------------------------
    </p>
    <p>Name: <%= @doctor.name %></p>
    <p>Email: <%= @doctor.email %></p>
    <p>degree: <%= @doctor.degree %></p>
    <p>

  </body>
</html>